      /*================= HEADER DESKTOP =====================*/
      .navbar-nav .nav-link {
        color: #000 !important; /* Cor preta para os links de navegação */
        font-family: 'DM Sans', sans-serif; /* Fonte DM Sans */
        font-weight: 500; /* Peso da fonte */
        font-size: 18px; /* Tamanho da fonte */
        line-height: 28px; /* Altura da linha */
        letter-spacing: -0.02em; /* Espaçamento entre letras (-2%) */
        margin-bottom: 25px; /* Espaçamento inferior entre parágrafos */
      }

      .navbar {
        background-color: transparent;
      }

      .navbar .nav-link {
        color: #000000 !important;
      }

      .navbar.scrolled {
        background-color: #fff;
      }

      .navbar.scrolled .nav-link {
        color: #000000 !important; /* Cor preta quando a barra de navegação faz scroll */
      }

      .dropdown-menu {
        border: none;
      }
      

      /* Responsividade da barra de navegação */
      @media (max-width: 768px) {
      .navbar-nav .nav-link {
        font-size: 18px;
        margin-bottom: 15px;
        color: #000000;
        }
        .navbar-collapse {
          position: fixed; /* Fixa o menu na tela */
          top: 0;
          left: 0; /* Fixa o menu à esquerda */
          width: 341px; /* Largura do menu */
          height: 100vh; /* Altura do menu igual à altura da tela */
          background-color: #fff; /* Cor de fundo do menu */
          z-index: 1050; /* Garante que o menu fique acima dos outros conteúdos */
          transform: none; /* Sem animação de transição */
        }
      
        .navbar-nav {
          display: flex;
          flex-direction: column; /* Organiza os itens verticalmente */
          transform: translate(-200px, -40px);
          width: 100px;
        }
      
        .navbar-toggler {
          display: block; /* Garante que o botão do menu esteja visível no mobile */
          z-index: 1060; /* Mantém o botão acima do menu */
        }
      
        /* Ajusta o botão de toggler para não ter margens desnecessárias */
        .navbar-toggler-icon {
          background-color: #000; /* Cor da linha do botão */
        }
      
        .navbar-collapse.show {
          transform: none; /* Evita qualquer transição desnecessária */
        }

        .menu-hamburguer {
          display: flex; /* Define o menu-hamburguer como um container flexível para facilitar o alinhamento dos elementos. */
          flex-direction: column; /* Organiza os itens (barras) do menu-hamburguer em uma coluna. */
          justify-content: space-between; /* Distribui o espaço uniformemente entre as barras. */
          width: 30px; /* Define a largura do menu-hamburguer como 30px. */
          height: 20px; /* Define a altura do menu-hamburguer como 25px. */
          cursor: pointer; /* Altera o cursor para indicar que o elemento é clicável. */
          transition: 0.3s ease-in-out; /* Adiciona uma transição suave para as mudanças no menu-hamburguer. */
          z-index: 1060; /* Mantém o botão acima do menu */
      }
      
      .bar-hamburguer {
          width: 100%; /* Define a largura de cada barra como igual à largura do menu-hamburguer. */
          height: 5px; /* Define a altura de cada barra como 5px. */
          background-color: #333; /* Define a cor de fundo das barras como um cinza escuro (#333). */
          border-radius: 5px; /* Adiciona bordas arredondadas às barras. */
          transition: 0.3s ease-in-out; /* Adiciona uma transição suave para mudanças nas propriedades das barras. */
      }
      
      .menu-hamburguer.active .bar-hamburguer:nth-child(1) {
          transform: rotate(45deg) translateY(10px); /* Rotaciona a primeira barra em 45 graus e a move para baixo. */
      }
      
      .menu-hamburguer.active .bar-hamburguer:nth-child(2) {
          transform: rotate(-45deg) translateY(-10px); /* Rotaciona a segunda barra em -45 graus e a move para cima. */
      }
      }

      .bg-white {
        background-color: #fff !important;
      }

      /* Remove o caret do About us e Enquiries */
      #aboutDropdown::after,
      #enquiriesDropdown::after {
        display: none; /* Esconde a seta */
      }

      /*================= HEADER MOBILE =====================*/

 /*========================= NAV TOGGLER =====================*/

.container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha todos os itens verticalmente na mesma linha */
}

/* Adiciona o modo mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Muda a direção dos itens para coluna em telas menores */
    align-items: flex-start; /* Alinha os itens no início da linha */
  }
  .navbar-toggler {
    margin-left: auto; /* Empurra o botão para o lado direito */
    display: flex; /* Garante alinhamento interno no botão */
    align-items: center;
    transform: translate(-52px, -41px); /* Sobe o botão em 5px */
  }
}



.navbar-brand {
  display: flex; /* Garante que o logo esteja alinhado corretamente */
  align-items: center;
  margin-right: auto; /* Empurra o logo para o lado esquerdo */
}

.collapse {
  display: flex; /* Garante alinhamento do menu em dispositivos maiores */
  justify-content: flex-end; /* Alinha o menu à direita */
  flex-grow: 1; /* Preenche o espaço disponível */
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none; /* Oculta o botão em telas maiores */
  }
}

/*===========================================================*/

