.banner-image {
    background-image: url('img/1.png'); /* Define a imagem de fundo do banner */
    background-size: cover; /* Imagem de fundo cobre toda a área */
  }

  .request-text p {
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif; /* Fonte DM Sans aplicada */
  }

  .btn-custom {
    background-color: #F9F6EC; /* Cor de fundo do botão */
    border: none; /* Sem borda */
    padding: 10px 30px; /* Preenchimento interno do botão */
    font-size: 0.75rem; /* Tamanho do texto */
    color: #000; /* Cor do texto do botão */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
    font-family: 'DM Mono', monospace; /* Fonte DM Mono aplicada */
    margin-bottom: 10px;
    width: 90%;
    max-width: 244px;
  }

  @media (min-width: 768px) {
    .btn-custom {
      width: auto; /* Ajusta o tamanho dos botões em telas maiores */
    }
  }

  .button-group {
    flex-direction: column; /* Botões em coluna por padrão */
  }

  @media (min-width: 768px) {
    .button-group {
      flex-direction: row; /* Botões lado a lado em telas maiores */
    }
  }

  .btn-custom:hover {
    background-color: #e0e0e0; /* Cor de fundo do botão ao passar o mouse */
  }

  .button-group button {
    width: 244px; /* Largura dos botões */
    height: 54px; /* Altura dos botões */
    border-radius: 40px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
  }

  .line {
    width: 100%; /* Linha ocupa toda a largura */
    height: 2px; /* Espessura da linha */
    background-color: #ffffff; /* Cor da linha, branca como o texto */
    margin-bottom: 20px; /* Espaço entre a linha e os botões */
  }

  @media (max-width: 768px) {
    .line {
      display: none; /* Esconde a linha em telas menores */
    }
  }

  /* Estilo para o ícone circular no menu */
  .icon-circle {
    width: 20px;               /* Ajuste a largura do círculo */
    height: 20px;              /* Ajuste a altura do círculo */
    background-color: #ffffff; /* Cor de fundo do círculo: branca */
    border-radius: 50%;        /* Deixa o elemento circular */
    display: inline-flex;      /* Exibe em linha com o link */
    align-items: center;       /* Centraliza verticalmente o ícone */
    justify-content: center;   /* Centraliza horizontalmente o ícone */
    margin-left: 8px;          /* Espaço entre o texto e o ícone */
  }

  .icon-circle i {
    font-size: 14px;           /* Tamanho do ícone */
    color: #000;               /* Cor do ícone preta */
  }

  /* Estilo para o botão azul fixo à direita */
  .fixed-circle {
    position: fixed;           /* Mantém o elemento fixo na tela mesmo com scroll */
    right: 40px;               /* Ajusta a distância da borda direita da tela */
    top: 50%;                  /* Ajusta a posição para ficar alinhado ao centro da tela verticalmente */
    transform: translateY(-50%); /* Centraliza verticalmente */
    width: 60px;               /* Largura do círculo */
    height: 60px;              /* Altura do círculo */
    background-color: #0E0466; /* Cor azul escura */
    border-radius: 50%;        /* Deixa o elemento circular inicialmente */
    display: flex;             /* Para centralizar a imagem dentro do círculo */
    align-items: center;       /* Alinha verticalmente a imagem no centro */
    justify-content: center;   /* Alinha horizontalmente a imagem no centro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra suave ao círculo */
    cursor: pointer;           /* Define o ponteiro do mouse como 'pointer' */
    z-index: 1000;             /* Garante que o círculo fique acima de outros elementos */
    transition: all 0.3s ease; /* Transição suave ao passar o mouse */
  }

  .fixed-circle:hover {
    width: 180px;              /* Aumenta a largura do botão ao passar o mouse */
    padding: 10px 20px;        /* Adiciona um espaçamento para o texto */
    justify-content: space-between; /* Alinha o conteúdo à esquerda */
    border-radius: 30px;       /* Torna o botão oval ao passar o mouse */
    background-color: #0E0466; /* Mantém a cor de fundo */
  }

  .fixed-circle img {
    width: 24px;               /* Largura da imagem ajustada */
    height: 24px;              /* Altura da imagem para mantê-la proporcional */
  }

  .fixed-circle span {
    color: #ffffff;            /* Cor do texto */
    font-family: 'DM Mono', monospace; /* Fonte do texto */
    font-weight: 500;          /* Peso da fonte */
    font-size: 12px;           /* Tamanho do texto */
    line-height: 15.62px;      /* Altura da linha */
    text-align: center;        /* Centraliza o texto */
    display: none;             /* Ocultar o texto inicialmente */
    transition: opacity 0.3s ease; /* Transição suave para o texto */
  }

  /* Estilo do .fixed-circle:hover span */
  .fixed-circle:hover span {
    display: inline; /* Exibir o texto (span) quando o mouse estiver sobre o elemento .fixed-circle */
    opacity: 1; /* Torna o texto visível com uma transição suave */
  }


   /* =============== Estilo da seção Bioplastic =================== */
  .bioplastic-section {
    text-align: left; /* Alinha o conteúdo da seção à esquerda */
    padding: 50px; /* Adiciona 50px de espaçamento interno em todos os lados */
    position: relative; /* Define posição relativa para que elementos filhos possam ser posicionados */
  }

  /* Estilo da .row dentro de .bioplastic-section */
  .bioplastic-section .row {
    width: 120%; /* Aumenta a largura para além do tamanho padrão */
    max-width: none; /* Remove qualquer limite de largura padrão */
    margin-left: -10%; /* Move o conteúdo ligeiramente para a esquerda para centralizá-lo */
  }


  /* Estilo de imagens dentro da .bioplastic-section */
  .bioplastic-section img {
    width: 100%; /* Garante que a imagem ocupe 100% da largura do elemento pai */
    height: auto; /* Mantém a proporção original da imagem */
  }

  /* Estilo do título (h1) na .bioplastic-section */

  .bioplastic-section h1 {
    font-family: 'DM Sans', sans-serif; /* Define a fonte como 'DM Sans' */
    font-size: 2.5rem; /* Define o tamanho da fonte como 2.5rem (40px por padrão) */
    font-weight: bold; /* Aplica peso de fonte forte ao título */
  }

/* =========== Estilo do botão LERN MORE da seção Bioplastic ===============*/
  .learn-more-button {
    position: relative; /* Posiciona o botão em relação ao elemento pai */
    float: right; /* Alinha o botão à direita */
    margin-right: 20px; /* Adiciona um espaçamento de 20px à direita */
    padding: 10px 20px; /* Adiciona espaçamento interno (10px acima/abaixo, 20px esquerda/direita) */
    background-color: #ffffff; /* Define a cor de fundo como branco */
    color: #000; /* Define a cor do texto como preto */
    border: 1px solid #000; /* Adiciona uma borda preta de 1px */
    border-radius: 40px; /* Define bordas arredondadas com raio de 40px */
    cursor: pointer; /* Exibe o ponteiro ao passar o mouse */
    font-size: 16px; /* Define o tamanho da fonte como 16px */
    width: 223px; /* Define a largura do botão como 223px */
    height: 54px; /* Define a altura do botão como 54px */
    font-family: 'DM Mono', monospace; /* Define a fonte como 'DM Mono' */
    margin: 30px; /* Adiciona margem de 30px em todos os lados */
  }

  /*====================== LEARN MORE ======================*/
  /* Estilo do botão ao passar o mouse (hover) */
  .learn-more-button:hover {
    background-color: #d4d4d4; /* Muda a cor de fundo para cinza claro ao passar o mouse */
    color: #fff; /* Muda a cor do texto para branco */
    border-color: #ffffff; /* Muda a cor da borda para branco */
  }

  /* =============== Estilo do - What We Do - da seção Bioplastic ============ */
  .what-we-do {
    font-family: 'DM Mono', monospace; /* Define a fonte como 'DM Mono' */
    margin-bottom: 0; /* Remove a margem inferior padrão */
  }

  /* Estilo de - 1, 2 - da seção Bioplastic e biotech */
  .number-style {
    font-family: 'DM Mono', monospace; /* Define a fonte como 'DM Mono' */
    font-size: 20px; /* Define o tamanho da fonte como 20px */
  }

  /* =============== Seções Bioplastic e Biotech ================== */
    .bioplastic-section,
    .biotech-section {
      text-align: left; /* Alinha o conteúdo à esquerda */
      padding: 30px 20px; /* Adiciona 30px no topo/baixo e 20px nas laterais */
    }

  /* =============== Seções Bioplastic e Biotech Mobile ================== */
  @media (min-width: 768px) {
    .bioplastic-section,
    .biotech-section { /* Aumenta o espaçamento interno para 50px em telas maiores */
      padding: 50px;
    }
  }

  /* Responsividade da imagem e do vídeo */
  .bioplastic-section video,
  .biotech-section video {
    width: 100%; /* Garante que vídeos ocupem 100% da largura do elemento pai */
    height: auto; /* Mantém a proporção original dos vídeos */
  }

      /* ========== Estilo da seção Biotech =============*/
  .biotech-section {
    text-align: left; /* Alinha o conteúdo à esquerda */
    padding: 50px; /* Adiciona 50px de espaçamento interno em todos os lados */
    position: relative; /* Define posição relativa para que elementos filhos possam ser posicionados */
  }

  /* Estilo da .row dentro de .biotech-section */
  .biotech-section .row {
    width: 120%; /* Aumenta um pouco a largura */
    max-width: none; /* Remove limite de largura padrão */
    margin-left: -10%; /* Ajusta a posição para centralizar o conteúdo */
  }


  /* Estilo de imagens dentro da .biotech-section */
  .biotech-section img {
    width: 100%; /* Garante que a imagem ocupe 100% da largura do elemento pai */
    height: auto; /* Mantém a proporção original da imagem */
  }


  /* Estilo do título (h1) na .biotech-section */
  .biotech-section h1 {
    font-family: 'DM Sans', sans-serif; /* Define a fonte como 'DM Sans' */
    font-size: 2.5rem; /* Define o tamanho da fonte como 2.5rem (40px por padrão) */
    font-weight: bold; /* Aplica peso de fonte forte ao título */
  }

  /*Texto acima da imagem*/

  /*================ Estilo Geral para .text-overlay ===============*/

  .text-overlay {
    position: absolute; /* Posiciona o elemento em relação ao elemento pai com posição relativa. */
    top: 50%; /* Posiciona o elemento 50% da altura do elemento pai. */
    left: 75%; /* Posiciona o elemento 75% da largura do elemento pai. */
    transform: translate(-75%, -50%); /* Move o elemento 75% para a esquerda e 50% para cima para centralizar. */
    color: white; /* Define a cor do texto como branco. */
    font-size: 24px; /* Define o tamanho da fonte inicial. */
    font-weight: bold; /* Aplica peso de fonte forte ao texto. */
    background-color: #0E0466; /* Define a cor de fundo como azul escuro (#0E0466). */
    padding: 40px; /* Adiciona espaçamento interno de 40px em todos os lados. */
    border-radius: 5px; /* Adiciona cantos arredondados de 5px inicialmente (sobrescrito depois). */
    border-radius: 60px; /* Adiciona cantos mais arredondados de 60px (redundância com a linha anterior). */
    font-family: 'DM Sans', sans-serif; /* Define a fonte principal como "DM Sans" ou uma fonte sans-serif. */
    max-width: 90%; /* Limita a largura máxima a 90% do elemento pai. */
  }

  /* Media Query (para telas maiores) .text-overlay*/
  @media (min-width: 768px) {
    .text-overlay {
      max-width: 50%; /* Reduz a largura máxima para 50% em telas maiores (768px ou mais). */
      padding: 40px; /* Mantém o espaçamento interno de 40px. */
    }
  }

  /* Estilo para Títulos (h2) Dentro de .text-overlay */
  .text-overlay h2{
    width: 372px; /* Define a largura do título em 372px. */
    height: 231px; /* Define a altura do título em 231px. */
    font-size: 32px; /* Define o tamanho da fonte do título como 32px. */
    font-weight: 500;  /* Aplica um peso médio (500) ao título. */      
  }

  /* Estilo para Parágrafos (p) Dentro de .text-overlay */
  .text-overlay p{
    width: 372px; /* Define a largura do parágrafo em 372px. */
    height: 150px; /* Define a altura do parágrafo em 150px. */
    font-size: 16px; /* Define o tamanho da fonte do parágrafo como 16px. */
    font-weight: 400; /* Aplica peso regular (400) ao texto do parágrafo. */
    margin-top: 70px; /* Adiciona um espaçamento superior de 70px entre o parágrafo e o elemento acima. */
  }

  /* Estilo para Botões (button) Dentro de .text-overlay */
  .text-overlay button{
    width: 223px; /* Define a largura do botão em 223px. */
    height: 54px; /* Define a altura do botão em 54px. */
    font-size: 12px; /* Define o tamanho da fonte no botão como 12px. */
    font-weight: 500; /* Aplica peso médio (500) ao texto do botão. */
    border-radius: 50px; /* Define bordas arredondadas no botão (cantos completamente arredondados). */
    background-color: #0E0466; /* Define a cor de fundo do botão como azul escuro (#0E0466). */
    color: white; /* Define a cor do texto do botão como branco. */
    font-family: 'DM Mono', monospace; /* Define a fonte do botão como "DM Mono" ou uma fonte monoespaçada. */
    border-color: rgb(196, 196, 196); /* Define a cor da borda do botão como cinza claro. */
  }