@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=DM+Sans:opsz,wght@9..40,500&display=swap');

.mobile{

    display: none;
}

.hr{
    color: #9A9998;
}



/* Inicio do formulário com checkbox e botão */

footer{

    font-family: 'Dm Sans';

}

.dm-mono-medium {
  font-family: "DM Mono", monospace; /* Define a fonte DM Mono */
  font-weight: 500; /* Define o peso da fonte */
  font-style: normal; /* Fonte sem itálico */
}

.containerfooter{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title{
    font-size: 22px;
    font-weight: 500;
}

.input-name{
    width: 351px;
    height: 56.9px;
    border-radius: 5px;
    border: 0.5px solid;
    padding: 10px;
}

.input-email{
    width: 351px ;
    height: 56.9px;
    border-radius: 5px;
    border: 0.5px solid;
    padding: 10px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px; 
}


input[type="checkbox"] {
    appearance: none; 
    width: 21px; 
    height: 21px; 
    border: 0.5px solid #000000; 
    background-color: white; /* Cor de fundo */
    cursor: pointer; 
    margin: 0;
}

input[type="checkbox"]:checked {
    background-color: #EFEDE5; /* Cor de fundo quando marcado verificar com Mário*/
}

label {
    font-family: 'DM+mono';
    font-size: 12px;
    line-height: 15,62px;
    color: #333;
    text-transform: uppercase; 
}

label span {
    color: #d35400; /* Cor do texto "PRIVACY POLICY" */
    font-weight: bold;
    text-transform: uppercase;
}

.button{
    background-color: white;
    width: 140.82px;
    height: 54px;
    border: 0.5px solid;
    border-radius: 50px;
    margin-top: 15px;
    font-size: 12px;
    cursor: pointer;
}

.group87{

    display: flex;
    flex-direction: row;
    
}

.group87 ul{
    list-style: none;
    color: #858585;
    font-family: 'Dm sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
     

}

/* Links */

.list{

    display: flex;
    flex-direction: row;
   
}

.ul{

    list-style: none;
    
}

.ul a{

    text-decoration: none;
    color: #858585;
    font-family: 'Dm sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
        
}

.linkedin img{
    width: 28px;
    height: 28px;
}

.linkedin{
    
    margin-left: 30px;
}

/* Rodapé */

.container-rodape{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.p{
    margin-left: 144px;
}

.a{
    margin-left: 500px;
}

.gridspace{
    margin-left: 80px;
}

.p, .a, .gridspace {
    
    font-family: 'DM Mono';
    font-size: 12px;
    font-weight: 500;
    line-height: 15.62px;
}
    
    .p a, .a a, .gridspace a {
    text-decoration: none;
    color: #000000;
}

.gridspace a {
    color: #9A9998;
}

.p a{
    text-decoration: none;
    color: #000000;
}



/* Responsividade para dispositivos médios (tablets) */


@media (max-width: 1300px){

     .mobile{
        display: none;
    }

      .container-rodape {
        justify-content: space-around;
        align-items: center;
    }

    .p, .a, .gridspace {
        
        margin: 10px 0;
        text-align: center;
    }

      .list {
     
        margin-top: 15px;
        
    }

    .group87{
        margin-top: 0px;
    }

}


@media (max-width: 768px) {

    .mobile{
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .form {
        margin-bottom: 20px;
        
        max-width: 400px;
    }

    .list {
        flex-direction: column;
        
        
    }

    .ul {
        margin-bottom: 20px;
    }

       .container-rodape {
        flex-direction: column;
        align-items: center;
    }

    .p, .a, .gridspace {
        
        margin: 10px 0;
        text-align: center;
    }

   } 


/* Responsividade para dispositivos pequenos (mobile) */
@media (max-width: 522px) {

    .desktop{
        display: none;
    } 

    .mobile{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }


    .p-a h3{

        font-size: 18px;
        font-family: 'DM Sans';
        font-weight: 500;
        line-height: 22px;
        width: 351px;

    }

    .p-a img{
        width: 28px;
        height: 28px;
        margin-left: 105px;

    }

    .list-mobile{
        display: flex;
        
    }

    ul, li {

    margin: 0;
    padding: 0;

    }

    #list2{

        margin-left: 100px;

    }

    #nm{
        width: 125px;
    }

    .group87{
        align-items: center;
    }

    #logo-footer{
        width: 69px;
        height: 64px;
    }

    #cl4{
        margin-left: 30px;
    }

  .privacy-policy, a{

    font-family: 'DM Mono';
    font-size: 12px;
    font-weight: 500;
    line-height: 15.62px;
    color: #000000;
    text-decoration: none;     

  }

  .rodape{
    display: flex;
  }


   


   
}






