      /*================= HEADER DESKTOP =====================*/
      .navbar-nav .nav-link {
        color: #000 !important; /* Cor preta para os links de navegação */
        font-family: 'DM Sans', sans-serif; /* Fonte DM Sans */
        font-weight: 500; /* Peso da fonte */
        font-size: 18px; /* Tamanho da fonte */
        line-height: 28px; /* Altura da linha */
        letter-spacing: -0.02em; /* Espaçamento entre letras (-2%) */
        margin-bottom: 25px; /* Espaçamento inferior entre parágrafos */
      }

      .navbar {
        background-color: transparent;
      }

      .navbar .nav-link {
        color: #000000 !important;
      }

      .navbar.scrolled {
        background-color: #fff;
      }

      .navbar.scrolled .nav-link {
        color: #000000 !important; /* Cor preta quando a barra de navegação faz scroll */
      }

      /* Responsividade da barra de navegação */
      @media (max-width: 768px) {
      .navbar-nav .nav-link {
        font-size: 16px;
        margin-bottom: 15px;
        }
      }

      .bg-white {
        background-color: #fff !important;
      }

      /* Remove o caret do About us e Enquiries */
      #aboutDropdown::after,
      #enquiriesDropdown::after {
        display: none; /* Esconde a seta */
      }

      /*================= HEADER MOBILE =====================*/

 /*========================= NAV TOGGLER =====================*/

.container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha todos os itens verticalmente na mesma linha */
}

.navbar-toggler {
  margin-left: auto; /* Empurra o botão para o lado direito */
  display: flex; /* Garante alinhamento interno no botão */
  align-items: center;
  transform: translateY(-40px); /* Sobe o botão em 5px */
}

.navbar-brand {
  display: flex; /* Garante que o logo esteja alinhado corretamente */
  align-items: center;
  margin-right: auto; /* Empurra o logo para o lado esquerdo */
}

.collapse {
  display: flex; /* Garante alinhamento do menu em dispositivos maiores */
  justify-content: flex-end; /* Alinha o menu à direita */
  flex-grow: 1; /* Preenche o espaço disponível */
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none; /* Oculta o botão em telas maiores */
  }
}

/*===========================================================*/

