@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=DM+Sans:opsz,wght@9..40,500&display=swap');


    /* Estilos Latest H1 e Button*/

   .latest-news{
    align-items: center;
    display: flex;
    justify-content: space-between;

   }

   .latest-news h1{
    margin-left: 140px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 42px;
    line-height: 46px;

   }

   .latest-news button{

    background-color: transparent;
    margin-right: 140px;
    width: 223px;
    height: 54px;
    border: 1px solid #000000;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'DM Mono';
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;

   }

    /* Estilos para Carousel, Cards e Setas com Barra */

    .slick-carousel{
        margin-left: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
            
    }


        .card {
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 378px;
            height: 480px;
            max-width: 378px;
            max-height: 480px;
            background-color: #F9F6EC;
            padding: 30px;
            border-radius: 50px;
            border: nonegi;
            margin: 5px;
           
            
           
        
        }

        .card p {
            font-family: 'DM Mono';
            text-transform: uppercase;
            font-size: 12px;
            line-height: 15.62px;
            font-weight: 500;
        }

        .card h3 {
            width: 100%;
            max-width: 311px;
            font-family: 'DM Sans';
            font-size: 22px;
            line-height: 26px;
            font-weight: 500;
            min-height: 150px; /* Altura mínima para todos os títulos */
            max-height: 156px; /* Altura máxima para limitar títulos muito longos */
            overflow: hidden; /* Oculta o excesso de texto caso ultrapasse a altura máxima */
            text-overflow: ellipsis; /* Adiciona reticências (...) caso o texto seja muito longo */
            
        }

        .card img {
            
            width: 100%;
            max-width: 311px;
            height: 188px;
            object-fit: cover;
            
        }

        .card button {
            margin-top: 15px;
            width: 175px;
            height: 43px;
            border: 1px solid;
            border-color: #000000;
            border-radius: 40px;
            background-color: transparent;
            font-family: 'DM Mono';
            font-weight: 500;
            font-size: 12px;
            line-height: 15.62px;
            cursor: pointer;
            
        }

    .custom-carousel-controls {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 15px;
    margin-top: 90px; /* Ajuste a distância do carrossel */
}

    .custom-prev{
    margin-left: 146px;
}

    .custom-next{
    margin-right: 146px;
}


    .custom-carousel-controls button {
    background-color: white;
    border: none;
    cursor: pointer;
    
    
}

    .custom-progress-bar {
    max-width: 250px;
    flex: 1;
    height: 1px;
    background: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

    .custom-progress-bar .custom-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #000000;
    transition: width 0.2s ease;
    cursor: pointer;
}


/* Responsividade Latest News H1 e Button*/


@media (max-width: 768px) {

    .latest-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    } 

       .latest-news h1{
    margin-left: 0px;
 
   }

      .latest-news button{
        display: none;
   
    margin-right: 0px;
   

   }
       .slick-carousel{
        margin-left: 25px;
   
            
    }

    }

    /* Mobile */


    @media (max-width: 500px) {

    .latest-news {

       
    display: flex;
    flex-direction: column;
   
    
    } 

          .latest-news h1{
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 36px;
    text-align: left;
   
    
 
   }

   /* Cards*/ 

        .slick-slide{
            max-width: 321px;
            max-height: 432px;
        }

      .card {
         
            width: 321px;
            height: 432px;
            max-width: 321px;
            max-height: 432px;
          
        
        }

        .card h3 {
           
            font-size: 18px;
            min-height: 140px; /* Altura mínima para todos os títulos */
            max-height: 145px; /* Altura máxima para limitar títulos muito longos */
            
        }

        .card img {
            
            width: 100%;
            min-width: 259;
            max-width: 259px;
            height: 157px;
            object-fit: cover;
            
        }


    /* Setas de controle*/

        .custom-prev{
        
            display: none;
        }

        .custom-next{
            
            display: none;
        }


        .custom-carousel-controls {

       justify-content: center;
        margin-top: 50px;

        }

    }
